* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

body{
    cursor: none;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
}

#cursor{
    height: 50px;
    width: 50px;
    position: fixed;
    transform: translate(-50%,-50%);
}