* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
}

body{
    background-color: #111;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 25px;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.card img{
    margin-top: 15px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.card h2{
    font-size: 27px;
    margin: 10px 0px;
}

.card h3{
    color: crimson;
    font-size: 22px;
    margin-bottom: 10px;
}

.card p{
    font-size: 15px;
    margin-bottom: 10px
}