* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle, #222, #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fff;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.piano {
    display: flex;
    background: #111;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.8);
}

.key {
    width: 45px;
    height: 260px;
    margin: 2px;
    background: linear-gradient(to bottom, #fff, #e6e6e6);
    border: 1px solid #bbb;
    border-radius: 0 0 10px 10px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-weight: bold;
    font-size: 14px;
    color: #333;
    padding-bottom: 12px;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
}

.key:hover {
    background: linear-gradient(to bottom, #f5f5f5, #ddd);
    cursor: pointer;
}

.key:active {
    transform: translateY(6px);
    background: linear-gradient(to bottom, #ddd, #bbb);
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #000;
}
