* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

:root {
    --x: 400px;
    --y: 400px;
}

.box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.935));
}

video {
    background-position: initial;
    width: 100%;
    background-size: cover;
}