* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 450px;
    width: 300px;
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    position: relative;
}

.card div{
    position: relative;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 360px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 12px;
}

.card h2{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 90px;
    opacity: 0;

    background-image: url(./images/f9ce34-ee2a7b-6228d7.png);
    background-size: cover;
    background-clip: text;
    color: transparent;

    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(0.65,1,0.77,1.44) 0.3s;
}