* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
}

body{
    background-color: #111;
}

.elem{
    background-color: #222;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 20px;
    gap: 15px;
}

.elem h2{
    color: white;
    font-size: 30px;
}

.elem button{
    background-color: royalblue;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}