* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.card{
    height: 290px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.card h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 23px;
}

.outer{
    height: 25px;
    width: 100%;
    background-color: rgb(206, 206, 206);
    border-radius: 50px;
    margin: 30px 0px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: rgb(1, 175, 1);
    border-radius: 50px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0px;
}

.bottom h2{
    font-size: 30px;
    font-weight: 700;
}

.bottom button{
    padding: 15px 25px;
    border: none;
    color: white;
    background-color: green;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.bottom button:active{
    scale: 0.96;
}