* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
    color: white;
}

body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(26,26,26),rgb(35,35,35),black);
    padding: 20px;
}

section{
    height: 100%;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
}

.all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom{
    padding: 30px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.948));
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.bottom .user img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.bottom>h3{
    font-weight: 500;
    font-size: 18px;
}

.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.bottom .user button{
    background-color: transparent;
    padding: 3px 5px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    text-align: center;
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 12%;
    /* height: 100%; */
    /* transform: translateX(100%); */
    /* background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.284)); */
}

.right h4{
    cursor: pointer;
}

.right i{
    font-size: 25px;
    font-weight: 500;
}

.right h6{
    font-size: 15px;
    font-weight: 500;
}

.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
}

.love{
    color: #FF3040;
}

.right>div h4{
    pointer-events: none;
}

.right>div h6{
    pointer-events: none 0;
}

.mute{
    background-color: #333;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.mute i{
    font-size: 20px;
    pointer-events: none;
}

.mute:active{
    scale: 0.96;
}