* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 50px;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes animateBorder {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}

.box {
    max-width: 300px;
    text-align: center;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(255, 49, 142), black) border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    animation: animateBorder 5s infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    box-shadow: 0 0 0px rgb(212, 0, 216);
    text-shadow: 0 0 0px rgb(212, 0, 216);
}

.box p {
    margin-bottom: 15px;
}

.box:hover {
    animation-play-state: running;
    border: 6px solid rgba(255, 255, 255, 0);
    box-shadow: 0 0 50px rgb(212, 0, 216);
    color: rgb(252, 16, 122);
    text-shadow: 0 0 10px rgb(212, 0, 216);
}

.box img {
    width: 100%;
}