* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(148, 241, 255), rgb(255, 191, 71));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#box{
    height: 60vh;
    width: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 50px;
    padding: 20px;
}

h1{
    font-size: 80px;
    margin: 50px;
}

#btn-div{
    display: flex;
    gap: 20px;
}

button{
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: brown;
    color: #fff;
    border: 2px solid black;
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
}