* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
    background: linear-gradient(rgb(97, 99, 99), rgb(78, 75, 56));
}

#box{
    height: 30vw;
    width: 30vw;
    border: 4px solid white;
    background-color: rgb(170, 149, 54);
}

button{
    padding: 10px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 30px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button:active{
    scale: 0.97;
}